
@{
    ViewData["Title"] = "SlickCarousel";
}

<h2>SlickCarousel</h2>
<div class="single-item">
    <div>
        Program
        <img src="~/images/photo-1529539795054-3c162aab037a.jpg" />
    </div>
    <div>
        Live
        <img src="~/images/photo-1529565291221-5754dd255b2d.jpg" />
    </div>
    <div>
        Relax
        <img src="~/images/photo-1529586587093-ad0e284dbf01.jpg" />
    </div>
</div>
<script>
    $('.single-item').slick();
    </script>