
@{
    ViewData["Title"] = "SlickCarousel";
}

<h2>SlickCarousel</h2>
<div class="single-item">
    <div>
        your content1
        <img src="~/images/WIN_20180504_00_36_47_Pro.jpg" />
    </div>
    <div>
        your content2
        <img src="~/images/WIN_20180504_00_36_48_Pro.jpg" />
    </div>
    <div>
        your content3
        <img src="~/images/WIN_20180504_00_36_49_Pro.jpg" />
    </div>
</div>
<script>
    $('.single-item').slick();
    </script>